<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.notion-to-reminders</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/molinjian/Works/notion-to-reminders/venv/bin/python</string>
        <string>/Users/molinjian/Works/notion-to-reminders/sync.py</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>5</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>10</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>15</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>20</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>25</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>30</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>35</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>40</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>45</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>50</integer>
        </dict>
        <dict>
            <key>Minute</key>
            <integer>55</integer>
        </dict>
    </array>
    <key>StandardErrorPath</key>
    <string>/Users/molinjian/Works/notion-to-reminders/sync_error.log</string>
    <key>StandardOutPath</key>
    <string>/Users/molinjian/Works/notion-to-reminders/sync.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/molinjian/Works/notion-to-reminders</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist> 